@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Oooh+Baby&display=swap');

$font-primary: 'Oooh Baby', cursive;
$font-secondary: 'Caveat', cursive;
$font-instruction: 'Dancing Script', cursive;

$border-primary: 1px solid #8080808b;

$color-pen: #001193;
$color-background: #f9f9f9;
